<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="http://placehold.it/300x300" alt="...">
    <div class="caption">
      <h3><%= @feed_item.title %></h3>
      <p><%= @feed_item.description %></p>
      	<span class="timestamp">
					Posted <%= time_ago_in_words(@feed_item.created_at) %> ago.
				</span>
    </div>
  </div>
</div>